@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

.kant-400 {
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.kant-700 {
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.hind-300 {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.hind-400 {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.hind-500 {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.hind-600 {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 700;
  font-style: normal;
}